USE [master]
GO
/****** Object:  Database [yoyoDB]    Script Date: 10/4/2018 12:39:02 PM ******/
CREATE DATABASE [yoyoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'yoyoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\yoyoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'yoyoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\yoyoDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [yoyoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [yoyoDB]
GO
USE [yoyoDB]
GO
/****** Object:  Table [dbo].[yoyoData]    Script Date: 10/4/2018 12:39:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yoyoData](
	[WorkArea] [nvarchar](50) NOT NULL,
	[SerialNumber] [nvarchar](50) NOT NULL,
	[Line] [nvarchar](50) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Reason] [nvarchar](50) NULL,
	[DateTimeStamp] [datetime] NOT NULL,
	[ProductID] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
